/*
!.gitignore
*.json
*.props
*.cache
.vs/*
**/.vs/*
**/bin/*
**/obj/*
Interpretator\ Missile/*
Interpretator\ Missile/Interpretator\ Missile/bin/*
Interpretator\ Missile/Interpretator\ Missile/obj/*
Interpretator\ Missile/Interpretator\ Missile/bin/Debug/netcoreapp3.1/*
Interpretator\ Missile/Interpretator\ Missile/obj/Debug/netcoreapp3.1/*
Interpretator\ Missile/Interpretator\ Missile/obj/Debug/netcoreapp3.1/Interpretator\ Missile.assets.cache
Interpretator\ Missile/Interpretator Missile/obj/Debug/netcoreapp3.1/Interpretator\ Missile.csprojAssemblyReference.cache